*{
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
  text-decoration: none;
  outline: none;
  border: 0;
  list-style: none;
}
body{
  background: url(../img/background.png) no-repeat ;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100%;
  animation: color-change 5s linear infinite;
  background-color: #003329;
}
.container{
  background-color: #d1d1d1;
  width: 800px;
  padding: 20px;
  margin: 100px auto 0;
  border-radius: 10px;
  z-index: 1000 !important;
  position: relative;
}
.container div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
.input-task{
  border-radius: 5px;
  width: 400px;
  height: 40px;
  padding: 10px 5px 10px 10px;
  font-size: 16px;
}
img{
  height: 25px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}
.task:hover img{
  opacity: 1;
}
.button-add-task{
  border: 2px solid #439e9e;
  background-color: transparent;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  font-weight: 700;
  cursor: pointer;
  color: #474747;
}
.button-add-task:hover{
  background-color: #439e9e;
  color: #fff;
}
.list-task{
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  gap: 20px;
  overflow-x: hidden;
}
.task{
  font-family: 'Young Serif', serif;
  background-color: #f2f2f2;
  box-sizing: 1px 4px 10px rgba(0, 0, 0, 0.2) ;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
  gap: 10px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 
}
.task p{
  padding: 10px 20px 10px 20px;
  max-width: 600px; 
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  height: 100%;
}
.done{
  background-color: rgb(60, 189, 60);
  text-decoration: line-through;
}
.rain{
  animation: color-change 5s linear infinite;
}
.rain::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/rain.png);
  animation: rain 0.2s linear infinite;
  background-attachment: fixed;
  height: 180vh;
}
@keyframes rain {
  0%{
    background-position: 0 0;
  }
  100%{
    background-position: 10% 1000%;
  }
}
.leave04{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/leaves/leave04.png);
  animation: leave04 10s linear infinite
}
@keyframes leave04 {
  0%{
    background-position: 0 0;
  }
  100%{
    background-position: 10000% 10%;
  }
}

/* ======================MEDIA QUERY========================= */

@media screen and (max-width: 360px) {

  body{
    background: url(../img/background-mobile.png) no-repeat ;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
  }
  #audio{
    width: 100%;
    height: 30px;
    background-color: #F1F3F4;
  }
  .container{
    background-color: #d1d1d19d;
    width: 100%;
    padding: 0px;
    margin:0px; 
    border-radius: 0px;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.404);
  }
  .container div{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }
  .input-task{
    width: 100%;
    height: 80px;
    padding: 1px 5px 1px 10px;
    font-size: 16px;
    box-shadow: -4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    font-style: italic;
  }
  .button-add-task{
    background-color: #439e9e;
    width: 200px;
    height: 50px;
    color: #fff;
    box-shadow: -4px 4px 4px 4px rgba(0, 0, 0, 0.2);
  }
  .button-add-task:hover{
    border: 2px solid #439e9e;
    background-color: transparent;
    color: #474747;
  }
  .list-task{
    padding: 30px 10px 60px 10px;
    gap: 10px;
  }
  img{
    filter: drop-shadow(-3px 3px 2px  rgba(0, 0, 0, 0.3));
    height: 20px;
    opacity: 1;
  }
  .task{
    border-radius: 5px;
    background-color: #f2f2f2;
    box-shadow: -4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    padding: 5px 10px 5px 10px;
    gap: 0px;
    font-size: 18px;
    text-align: center;
  }
  .task p{
    padding: 5px 10px 5px 10px;
    max-width: 250px; 
  }
  .done{
    background-color: rgb(60, 189, 60);
    text-decoration: line-through;
  }
  @keyframes leave04 {
    0%{
      background-position: 0 0;
    }
    100%{
      background-position: 500% 10%;
    }
  }
}