*{
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
  text-decoration: none;
  outline: none;
  border: 0;
  list-style: none;
}
body{
  background: url(./img/background.png) no-repeat ;
  background-size: cover;
  font-family: 'Onest', sans-serif;
  height: 100vh;
}
.container{
  background-color: #d1d1d1;
  width: 800px;
  padding: 20px;
  margin: 100px auto 0;
  border-radius: 10px;
}
.container div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
.input-task{
  border-radius: 8px;
  width: 300px;
  height: 40px;
  padding-left: 10px;
}
img{
  height: 25px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}
.task:hover img{
  opacity: 1;
}
.button-add-task{
  background-color: rgb(67, 158, 158);
  width: 150px;
  height: 40px;
  cursor: pointer;
}
.button-add-task:hover{
  background-color: rgb(48, 117, 117);
}
.list-task{
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  gap: 20px;
}
.task{
  background-color: #f2f2f2;
  box-sizing: 1px 4px 10px rgba(0, 0, 0, 0.2) ;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
  gap: 10px;
}